# PostgreSQL connection string
DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"

# Admin password
ADMIN_PASSWORD=changeme

# To enable the admin feature of automatically joining a league.
OMNIPONG_USER=yourusername
OMNIPONG_PASS=yourpassword
